{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}

<h1>Login</h1>


    <form action="{% url 'index' %}" method="post">
        {% comment %} {{ form.as_p }} {% endcomment %}
        <label>Name</label>{{form.username}}
        <label>Password</label>{{form.password}}
        {% csrf_token %}

        <p><input type="submit" value="Log-in"></p>
    </form>


{% endblock %}
