<div style="border:2px solid; color:black; margin:200px; padding:20px;">
<h3>Forgot password</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form> 

</div>