
.Navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset -1px 0 0 rgba(73, 72, 72, 0.6);
    background-color:#1a3232;
    color: white;   
    width: 250px;
}



.logodashboard {
    
    height:auto;
    width:auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}
hr {
    height:2px;
    border-width:0;
    color:black;
    background-color:black;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .5);
}

.loginBox{
    margin-top: 50px;
    height: 250px;
    width: 450px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px #888888;
}

.logonav{
    border-width: 2px;
    border-color: black;
    
}
.card-deck{
    margin-top: 20px;
    margin-left: 250px;
}
.topbar{
    margin-left: 250px;
    margin-right: 5px;
    box-shadow: 3px 5px 3px 5px #888888;
    background-color:#1a3232;
    height: 90px;
    text-align: right;
}
.ProductCotainer{
    margin-left: 253px;
    margin-top: 40px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
  }
tbody{
    display:inline-block;
    height:410px;
    overflow:auto;
}
thead{
    width: calc( 100% - 1em )
    
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.variantlogo{
    height: 30px;
    
}