
{% extends "ordermanage/base.html" %}
{% load staticfiles %}
 {% block title %}Create{% endblock %}

{% block body %}

<section>
       <div class="section-body">
               <div class="row">
                       <div class="col s12">
                               <div class="card">
                                       <div class="card-head">
                                               <header>Create Inventry</header>
                                               <div class="tools">
                                                       <a class="btn btn-icon-toggle btn-collapse">
                                                               <i class="fa fa-angle-down"></i>
                                                       </a>
                                                       <a class="btn btn-icon-toggle btn-close">
                                                               <i class="md md-close"></i>
                                                       </a>
                                               </div>
                                       </div>

                                       
                                       
               <div class="card-body">
               <form class="col s12" action="#" method="POST" enctype="multipart/form-data">
                   
                       <div class="row">
                       <div class="input-field col s6">
                               
                       <!-- <input type='hidden' name='csrfmiddlewaretoken' value='iVyGFHh90fUHafbhIaaULgg5U4kIwDsoiUxZVXpQbWMjdBrU5M9iEwYogBfgnfGZ' />  -->
                       {% csrf_token %}
                       <p><label for="id_Product_SKU">Product SKU:</label> 
                       <input type="text" name="Product_SKU" value="" required id="id_Product_SKU" maxlength="20" /></p>
                       </div>

                       <div class="input-field col s6">
                       <p><label for="id_image">Image:</label> <input type="file" name="image" id="id_image" /></p>
                       </div>
                       </div>

                       <div class="row">
                       <div class="input-field col s6">
                       <p><label for="id_name">Name:</label> <input type="text" name="name" required id="id_name" maxlength="200" /></p>
                       </div>
                       <div class="input-field col s6">
                       <p><label for="id_Product_id">Product id:</label> <input type="number" name="Product_id" value="True" required id="id_Product_id" min="0" /></p>
                       </div>
                       </div>

                       <div class="row">
                       <div class="input-field col s6">
                       <p><label for="id_quantity">Quantity:</label> <input type="number" name="quantity" required id="id_quantity" min="0" /></p>
                       </div>

                       <div class="row">
                       <div class="input-field col s6">
                       <p><label for="id_quantity">Available Quantity:</label> <input type="number" name="available_quentity" required id="id_available_quentity" min="0" /></p>
                       </div>

                       <div class="input-field col s6">
                       <p><label for="id_price">Price:</label> <input type="number" name="price" step="0.01" required id="id_price" /></p>
                       </div>
                       </div>
                       
                       <div class="row">
                       <div class="input-field col s6">
                       <p><label for="id_category">Category:</label>                               
                        <select name="category" required id="id_category">
                                <option value="" selected>Select</option>
                                
                                {% for Category_obj in Category_obj %}
                                 <option value="1">{{Category_obj.name}}</option>
                                {% endfor %}
                        </select>
                       </p>
                       </div>
                       <div class="input-field col s6">
                       <input type="submit" value="SUBMIT">
                       </div>
                       </div>
               </form>
                </div>
                </div>
               </div>
       </div>
       </div>
</section>
{% endblock %}