{% extends "ordermanage/base.html" %} {% load staticfiles %} {% block title %}Create{% endblock %} {% block body %}

<section>
    <div class="section-body">
        <div class="row">

            <div class="col s12">
                <div class="card">
                    <div class="card-head">
                        <header>Create Inventry</header>
                        <div class="tools">
                            <!-- <a class="btn btn-icon-toggle btn-collapse">
                                <i class="fa fa-angle-down"></i>
                            </a> -->
                            <a href=" {% url 'shop:product_list'  %}">
                                <class="btn btn-icon-toggle btn-close">
                                    <i class="md md-close"></i>
                                </a>

                        </div>
                    </div>

                    {% if messages %} {{ message }}
                    <ul class="messages">
                        <div id="modal1" class="modal">
                            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></a> {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                {% endfor %}
                        </div>
                    </ul>
                    {% endif %}

                    <div class="card-body">
                        <form class="col s12" action="#" method="POST" enctype="multipart/form-data">{% csrf_token %}

                            <div class="row">
                                <div class="input-field col s6">

                                    <p>
                                        <label for="id_Product_SKU">Product SKU:</label>
                                        <input type="text" name="Product_SKU" value="" required id="id_Product_SKU" maxlength="20" />
                                    </p>
                                </div>

                                <div class="input-field col s6">
                                    <p>
                                        <label for="id_image">Image:</label>
                                        <input type="file" name="image" id="id_image" />
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <p>
                                        <label for="id_name">Name:</label>
                                        <input type="text" name="name" required id="id_name" maxlength="200" />
                                    </p>
                                </div>
                                <div class="input-field col s6">
                                    <p>
                                        <label for="id_Material_Type">Material_Type:</label>
                                        <input type="text" name="Material_Type" required id="id_Material_Type" max_length="40">
                                    </p>
                                </div>

                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <p>
                                        <label for="id_quantity">Quantity:</label>
                                        <input type="number" name="quantity" required id="id_quantity" min="0" />
                                    </p>
                                </div>

                                <div class="input-field col s6">
                                    <p>
                                        <label for="id_quantity">Available Quantity:</label>
                                        <input type="number" name="available_quentity" required id="id_available_quentity" min="0" />
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <p>
                                        <label for="id_price">Price:</label>
                                        <input type="number" name="price" step="0.01" required id="id_price" />
                                    </p>
                                </div>
                                <div class="input-field col s6">
                                    <p>
                                        <label for="id_category">Category:</label>
                                        <select name="category" required id="id_category">
                                            <option value="" selected>Select</option>
                                            {% for Category_obj in Category_obj %}
                                            <option value="1">{{Category_obj.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </p>
                                </div>

                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <p>
                                        <label for="id_Product_Dimensions">Product Dimension:</label>
                                        <input type="text" name="Product_Dimensions" required id="id_Product_Dimensions" max_length="20">
                                    </p>
                                </div>
                                <div class="input-field col s6">
                                    <p>
                                        <label for="id_Color">Color:</label>
                                        <input type="text" name="Color" required id="id_Color" max_length="20">
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <p>
                                        <label for="id_bulletpoints">Bulletpoints:</label>
                                        <textarea style="height: 200px !important" ; name="bulletpoints" required id="id_bulletpoints" rows="40"></textarea>
                                    </p>
                                </div>

                                <div class="input-field col s6">
                                    <p>
                                        <label for="id_description">Descriptions:</label>
                                        <textarea style="height: 200px !important" ; name="description" required id="id_description"></textarea>
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <p>
                                        <label for="id_ASIN">ASIN:</label>
                                        <input type="text" name="ASIN" id="id_ASIN" max_length="20">
                                    </p>
                                </div>
                                <div>
                                    <div class="input-field col s3">
                                        <div class=" input-field">
                                            <button class="btn cyan waves-effect waves-light right" type="submit" value="SUBMIT">Submit
                                                <i class="material-icons right">send</i>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </form>

                        <div class="row ">
                            <div class=" input-field col s12">
                                <a href=" {% url 'shop:product_list'  %}">
                                    <button type="submit" class="btn cyan waves-effect waves-light right" style="margin-top:-125px"><i class=" close material-icons right white-text"> close </i> Close</button>
                                </a>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}