{% extends "ordermanage/base.html" %} {% load staticfiles %} {% block title %}Detail{% endblock %} {% block body %}

<section>
    <div class="section-body">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-head">
                        <header> Inventory Details</header>
                        <div class="tools">
                            <a class="btn btn-icon-toggle btn-collapse">
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <a class="btn btn-icon-toggle btn-close">
                                <i class="md md-close"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col s12">
                        <div class="col s12 m4">
                            <div class="card card-detail">
                                <div class="card-image">
                                    <center> <img src="{% if product.variant_image %}{{ product.variant_image.url }}{% else %}{% static " shop/img/no_image.png " %}{% endif %}" style="width: 94%; height: 170px; margin-top: 5px;"></center>

                                </div>

                                <div class="card-action cfont">
                                    Variant Name:
                                    <a href="#">{{ product.title }}</a>
                                    <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a><br>
                                    Created at:
                                    <a href="#">{{ product.created }}</a>

                                </div>
                            </div>
                        </div>

                        <div class="col s12 m4">
                            <div class="card card-detail">
                                <div class="col s12 ">
                                    <h2 class="heading-h2">Product Information</h2>

                                </div>
                                <div class="card-content">
                                    <table class="table table-striped table-condensed">
                                        <tr>
                                            <th>Product weight</th>
                                            <td>{{ product.weight|linebreaks }}</td>
                                        </tr>

                                        <tr>
                                            <th>Color</th>
                                            <td>{{ product|linebreaks }}</td>
                                        </tr>
                                        <tr>
                                            <th>Price</th>
                                            <td>{{ product.price|linebreaks }}</td>
                                        </tr>

                                        <tr>
                                            <th>Product Type</th>
                                            <td>{{ product.product_id.product_type|linebreaks }}</td>
                                        </tr>
                                        <tr>
                                            <th>Variant Id</th>
                                            <td>{{ product.variant_id|linebreaks }}</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                        </div>

                        <div class="col s12 m4">
                            <div class="card card-detail">

                                <div class="col s12 ">
                                    <h2 class="heading-h2">Bullet Points</h2>

                                </div>
                                <div class="card-content">

                                    {{ product.bulletpoints|linebreaks }}
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col s12">
                        <div class="card card-dis">
                            <div class="col s12 ">
                                <h2 class="heading-h2">Product Description</h2>

                            </div>
                            <div class="card-content text-justify">

                                {{ product.product_id.body_html|linebreaks }}

                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <div class=" input-field ">

                            <a href=" {% url 'shop:product_list'  %}">
                                <button type="submit" class="btn cyan waves-effect waves-light right"><i class=" close material-icons right white-text">close</i>Close</button>
                            </a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}