{% extends "ordermanage/base.html" %} {% load staticfiles %} {% block title %}Edit{% endblock %} {% block body %}

<section>
    <div class="section-body">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-head">
                        <header>Edit Inventry</header>
                        <div class="tools">
                            <!-- <a class="btn btn-icon-toggle btn-collapse">
                                <i class="fa fa-angle-down"></i>
                            </a> -->
                            <a href=" {% url 'shop:product_list'  %}">
                            <class="btn btn-icon-toggle btn-close">
                                <i class="md md-close"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{% if messages %} {{ message }}
<ul class="messages">
    <div id="modal1" class="modal">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></a> {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </div>
</ul>
{% endif %}

<div class="card-body">
    <form class="col s12" action="." method="POST" enctype="multipart/form-data">

        <div class="row">
            <div class="col s12">
                <div class="input-field col s6">
                    {% csrf_token %}
                    <p>
                        <label for="id_Product_SKU">Product SKU:</label>
                        <input type="text" name="Product_SKU" value="{{instance.Product_SKU}}" required id="id_Product_SKU" maxlength="20" />
                    </p>
                </div>

                <div class="input-field col s6">
                    <p>
                        <label for="id_image">Image:</label>
                        <input type="file" name="image" value="{{instance.image}}" id="id_image" />
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="input-field col s6">
                    <p>
                        <label for="id_name">Name:</label>
                        <input type="text" name="name" value="{{instance.name}}" required id="id_name" maxlength="200" />
                    </p>
                </div>
                <div class="input-field col s6">
                    <p>
                        <label for="id_available_quentity">Availible Quantity:</label>
                        <input type="number" name="available_quentity" value="{{instance.available_quentity}}" required id="id_available_quentity" min="0" />
                    </p>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="input-field col s3">
                <div class=" input-field">
                    <button class="btn cyan waves-effect waves-light" type="submit" value="SUBMIT">Submit
                        <i class="material-icons right">send</i>

                </div>
            </div>

        </div>

    </form>
    <div class="row">
        <div class=" input-field ">
            <a href=" {% url 'shop:product_list'  %}">
                <button type="submit" class="btn cyan waves-effect waves-light right" style="margin-top:-80px"><i class=" close material-icons right white-text"> close </i> Close</button>
            </a>

        </div>
    </div>

    {% endblock %}