{% extends "ordermanage/base.html" %}
 {% load staticfiles %}
  {% block title %}Dashboard{% endblock %}

{% block body %}


<section id="content">
    
    <div class="container">
            
        
        <div id="card-stats">
            <div class="row">
                
                <div class="col s12 m6 l4">
                    <div class="card">
                        <div class="card-content red accent-2 white-text">
                            <p class="card-stats-title">
                                <a href="{% url 'shop:hundred' %}"><i class="material-icons">folder_open</i>Inventory More Than 100</p>
                            <h4 class="card-stats-number">{{ remain }}</h4></a>
                            <p class="card-stats-compare">
                                <i class="material-icons">keyboard_arrow_up</i>
                                <span class="red-text text-lighten-5">Product Status</span>
                            </p>
                        </div>
                        <div class="card-action red darken-1">
                            <div id="sales-compositebar" class="center-align"></div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card">
                        <div class="card-content teal accent-4 white-text">
                            <p class="card-stats-title">
                                    <a href="{% url 'shop:inventory_inrange' %}"><i class="material-icons">folder_open</i> Inventry range 20 to 100</p>
                            <h4 class="card-stats-number">{{ yellow }}</h4></a>
                            <p class="card-stats-compare">
                                <i class="material-icons">keyboard_arrow_up</i>
                                <span class="teal-text text-lighten-5">Product Status</span>
                            </p>
                        </div>
                        <div class="card-action teal darken-1">
                            <div id="profit-tristate" class="center-align"></div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card">
                        <div class="card-content deep-orange accent-2 white-text">
                                <a href="{% url 'shop:lesthantwenty' %}"><p class="card-stats-title">
                                <i class="material-icons">content_copy</i>Inventory less than 20</p>
                            <h4 class="card-stats-number">{{ red }}</h4></a>
                            <p class="card-stats-compare">
                                <i class="material-icons">keyboard_arrow_down</i>
                                <span class="deep-orange-text text-lighten-5">Product Status</span>
                            </p>
                        </div>
                        <div class="card-action  deep-orange darken-1">
                            <div id="invoice-line" class="center-align"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


      <section class="table" style="padding-left:0px !important; ">
               <div class="row">
                <div class="col m12 s12 ">
                  <div class="card  card-box">
                    <div class="card-head">
                     <header>Existing Inventory</header>
                  <div class="tools">
                      <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                      <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                      <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                  </div>
              </div>
                <div class="card-body">
                    <div class="table-wrap">
                         <div class="table-responsive">

                                <!--start msg-->
                                {% if messages %} {{ message }}
                                <ul class="messages">
                                    <div id="modal1" class="modal">
                                        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></a> {% for message in messages %}
                                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                            {% endfor %}
                                    </div>
                                </ul>
                                {% endif %}
                                 <!--End msg-->

                          
                  <div class="table-responsive">

                    <form action="#" method="POST" enctype="multipart/form-data"> {% csrf_token %}

                              {% if "warehouse" in group1 or "superuser" in group1 %}
                                <a class="btn-floating btn-medium waves-effect waves-light red" href="{% url 'shop:create' %}"><i class="material-icons">add</i></a> 
                              {% endif %}

                      <table id="datatable2" class="table order-column hover">
                        <thead>
                      <tr>

                  {% comment %} <th><input type="checkbox" id="checkAll"></th> {% endcomment %}

                  <th><input type="checkbox" id="checkAll" ></th>

            <th>varient_SKU</th> 
            <th>Image</th>
            <th>Product Name</th>
            <th>variant Name</th>
            <th>Created Date</th>
            <th>Updated Date</th>
            <th>available_quantity</th>
            {% if "warehouse" in group1 or "superuser" in group1 %}
            <th>Button</th>
            {% endif %}
           

          </tr>
        </thead>


          <tbody> 
            {% for product in products %}
            <tr>
            <td><input type="checkbox" name="selectCheckbox"></td> 


              <td><a href="{{ product.get_absolute_url }}">{{ product.variant_sku }}</a><br></td>
              <td><a href="{{ product.get_absolute_url }}">
              <img src="{% if product.variant_image %}{{ product.variant_image.url }}{% else %}{% static "shop/img/no_image.png"%}{% endif %}" style="width: 150px;height: 80px;"></a></td>
              <td><a href="{{ product.get_absolute_url }}" style="    line-height:20px; font-size: 14px; color: #0e65a0;">{{ product.product_id.title }}</a></td>
              <td style=" font-size: 14px;">{{ product.title }}</td>
              <td style="font-size: 13px; padding-left: 0px;">{{ product.created }}</td>
              <td style=" font-size: 13px;">{{ product.updated }}</td>
              <td style="font-size: 14px;padding-left: 40px;">{{  product.inventory_item_quantity }}</td>

              {% if "warehouse" in group1 or "superuser" in group1 %}
              <td><a href="{% url "shop:edit" id=product.variant_id %}" class="btn ink-reaction btn-floating-action btn-warning"><i class="md md-edit"></i></a></td>
              {% endif %}
            </tr>

          
          {% endfor %}
        </tbody> 
        </table>
      </form>
    </div>
    </div>
    </div>
    </div>
  
</section>



  {% endblock %}
