{% extends "ordermanage/base.html" %} {% load staticfiles %} {% block title %}Create{% endblock %} {% block body %}

<section>
    <div class="section-body">
        <div class="row">
            <div class="col s12">
                    
                <div class="card">
                    <div class="card-head">
                                Register your Company
                    {% if messages %} {{ message }}
                    <ul class="messages">
                        <div id="modal1" class="modal">
                            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></a> {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                {% endfor %}
                        </div>
                    </ul>
                    {% endif %}
              
                            
                        </div>
                    </div>
                </div>

                
                <form action="{% url 'shopify_admin:token1' %}" method="GET">
                    <div class="row">
                        <div class="input-field col s6">

                            <p>
                                <label for="id_Product_SKU">shopify store url </label>
                                <input type="text" name="shopify_store" value=""/>
                            </p>
                        </div>

                    <div>
                        <div class="input-field col s3">
                            <div class=" input-field">
                                <button class="btn cyan waves-effect waves-light right" type="submit" value="SUBMIT">Submit
                                    <i class="material-icons right">send</i>

                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}