{% load staticfiles %}

 <!DOCTYPE html>
 <html>
 <head>
     {% include "head.html" %}
 </head>

 <body>
   {% block content %}
   {% endblock %}

   {% block JS %}

   {% endblock %}

       <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

 </body>
 </html>
