{% extends "base.html" %}

{% block title %}Logged out{% endblock %}

{% block content %}
<div class="" style= " float: none; margin-left: auto; margin-right: auto;">
    <h1>Logged out</h1>
    <p>You have been successfully logged out. You can click
        <a href="{% url "mvp" %}">here</a>to log-in again.
    </p>
</div>
{% endblock %}
 