

<div id="header">
        <span class="logo">Bookmarks</span>
        {% if request.user.is_authenticated %}
        <ul class="menu">
            <li {% if section == "dashboard" %} class="selected"{% endif %}>
                <a href="{% url "dashboard" %}">My dashboard</a></li>
        </ul>
        {% endif %}
    </div>