{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Log-in{% endblock %}
{% block css %}

body {
display: flex;
min-height: 100vh;
flex-direction: column;
}



main {
flex: 1 0 auto;
}

body {
background: #fff;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
color: #e91e63;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
border-bottom: 2px solid #e91e63;
box-shadow: none;
}


{% endblock %}

{% block content %}
<div class="section"></div>
<main>
    <center>
        <img src="{% static 'mvppage/images/logo.png' %}" class="img1" alt="eKnous Technology SOlutions Logo">
        <div class="section"></div>
        <h5 class="black-text">Please, login into your account</h5>
        <div class="section"></div>

        <div class="container">
            <div class="z-depth-1 grey lighten-4 row"
                 style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                <form class="col s12" id="usr_login_form" method="post">
                    <div class='row'>
                        <div class='col s12'>                            
                        </div>
                    </div>
                    {% csrf_token %}
                    {{ form.as_p }}                    
      <center>
                <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect green'>Sign up</button>        
              
          </div>
      </center>
      
  </form>
</div>
</div>

</center>

</main>

{% endblock %}
