{% extends "ordermanage/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block title %}Create order{% endblock %}
{% block body %}
{% if user.is_authenticated %}
<section>
    <div class="section-body">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-head">
                        <header>Add Manufacturer</header>
                        <div class="tools">
                            <a class="btn btn-icon-toggle btn-collapse">
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <a class="btn btn-icon-toggle btn-close" href="{% url 'mf_list' %}">
                                <i class="md md-close"></i>
                            </a>
                        </div>
                    </div>
                    {% if messages %}
                    <ul class="messages">
                        <div id="modal1" class="modal">
                            <a href="{% url 'add_manufacturer' %}"
                                class=" modal-action modal-close waves-effect waves-green btn-flat"><i
                                    class="material-icons">close</i></a>
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                                {{ message }}
                            </li>
                            {% endfor %}
                        </div>
                    </ul>
                    {% endif %}

                    <!-- Form start From hear-->
                    <div class="card-body">
                        <form class="col s12" action="#" method="POST">{% csrf_token %}
                            <div class="row">
                                <div class="col s12 m4 l4">
                                    <div class="form-group">
                                        {{ form.as_p }}
                                    </div>
                                </div>
                                <div class="col s12 m4 l4">
                                    <div class="form-group">
                                        <input type="submit" name="Submit">
                                    </div>
                                </div>
                            </div>

                            <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                                <thead>
                                    <tr>
                                        {% comment %}
                                        <hr />
                                        <th><input type="checkbox" id="checkAll" /></th>
                                        {% endcomment %}
                                        <th><input type="checkbox" id="checkAll" /></th>
                                        <th>Manufacturer Name:</th>
                                        <th>Manufacturer loction:</th>
                                        <th>Email</th>
                                        <!-- <th>Button</th> -->
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for mf in query_results %}


                                    <!--PO Number-->
                                    <tr>
                                        <td>
                                            <input class="checkbox" type="checkbox" name="selectCheckbox" id=""
                                                value="" />
                                        </td>


                                        <td>
                                            <a href="">{{ mf.manufacturer_name }}</a>
                                        </td>

                                        <td>{{ mf.manufacturer_loction }}</td>

                                        <td>{% if mf.manufacturer_name.email %}{{ mf.manufacturer_name.email }}{% else %}------{% endif %}
                                        </td>
                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>


                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}{% endblock %}