{% extends "ordermanage/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}Create order{% endblock %}
{% block body %}
{% if user.is_authenticated %}
<section>
  <div class="section-body">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-head">
            <header>Create Manufacturer Order</header>
            <div class="tools">
              <a class="btn btn-icon-toggle btn-collapse">
                <i class="fa fa-angle-down"></i>
              </a>
              <a class="btn btn-icon-toggle btn-close" href="{% url 'mf_list' %}">
                <i class="md md-close"></i>
              </a>
            </div>
          </div>
          {% if messages %}
          <ul class="messages">
            <div id="modal1" class="modal">

              <a href="{% url 'create_order' %}" class=" modal-action modal-close waves-effect waves-green btn-flat">
                <i class="material-icons">close</i></a>
              {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message }}
              </li>
              {% endfor %}
            </div>
          </ul>
          {% endif %}
          <!-- Form start From hear-->
          {% if "warehouse" in group1 %}

          <div class="card-body">
            <form class="col s12" action="#" method="POST">{% csrf_token %}
              <div class="row">
                <div class="col s12 m4 l4">
                  <div class="form-group">
                    <label class="bmd-label-floating">order_by</label>
                    <input type="text" value="{{request.user.username}}" readonly/>
                  </div>
                </div>
                {% for field in form %}
                <div class="col s12 m4 l4">
                  <div class="form-group">
                    <label for="{{ field.auto_id }}" class="bmd-label-floating">{{field.label_tag}}</label>
                    {{ field}}
                  </div>
                </div>
                {% endfor %}
                <!--Line Item Data -->
                {% for field in formItem %}
                <!-- <div class="col s12 m4 l4">
                    <div class="form-group">
                      {{field.label_tag}} {{ field}}
                    </div>
                  </div> -->
                {% endfor %}

                <!-- Address Fom data -->
                <div class="col s4">
                  <div class="form-group">
                    <!-- left unspecified, .bmd-form-group will be automatically added (inspect the code) -->
                    <label for="id_address" class="bmd-label-floating">Address</label>
                    <input type="text" class="form-control" id="id_address" name='address'>
                  </div>
                </div>

                <div class="col s4">
                  <div class="form-group">
                    <!-- left unspecified, .bmd-form-group will be automatically added (inspect the code) -->
                    <label for="id_city" class="bmd-label-floating">city:</label>
                    <input type="text" class="form-control" id="id_city" name='city'>
                  </div>
                </div>

                <div class="col s4">
                  <div class="form-group">
                    <!-- left unspecified, .bmd-form-group will be automatically added (inspect the code) -->
                    <label for="id_city" class="bmd-label-floating">State:</label>
                    <input type="text" class="form-control" id="id_state" name='state'>
                  </div>
                </div>

                <div class="col s4">
                  <div class="form-group">
                    <!-- left unspecified, .bmd-form-group will be automatically added (inspect the code) -->
                    <label for="id_zip" class="bmd-label-floating">zip:</label>
                    <input type="text" class="form-control" id="id_zip" name='zip'>
                  </div>
                </div>

                <div class="col s4">
                  <div class="form-group">
                    <!-- left unspecified, .bmd-form-group will be automatically added (inspect the code) -->
                    <label for="id_contact_number" class="bmd-label-floating">Contact Number:</label>
                    <input type="text" class="form-control" id="id_contact_number" name='contact_number'>
                  </div>
                </div>
                <div class="col s12 m6 l4">
                  <div class="form-group">
                    <!-- left unspecified, .bmd-form-group will be automatically added (inspect the code) -->
                    <label for="id_remark" class="bmd-label-floating">Comment:</label>
                    <textarea class="col" style="width:100%;" type="text" class="form-control rounded-0" id="id_remark"
                      name='remark'></textarea>
                  </div>
                </div>
                <div class="col s12 m6 l12">
                  <div class="form-group">
                    <!-- left unspecified, .bmd-form-group will be automatically added (inspect the code) -->
                    <div id="Lineitem" class="card card-box">
                      <ul class="commentdetail">
                        <li>
                          <input type="button" name="add new" id="addLineItem" value="Add More">
                        </li>
                      </ul>
                    </div>
                  </div>

                </div>
                <div class="col s12 m8 l8">
                  <div class="form-group">
                    <input type="submit" name="submit" value="Submit" />
                  </div>
                </div>
              </div>
            </form>
          </div>
          {% else %}
          <div class="container">
            <div class=" col s4 l4 m4 offset-s2"></div>
            <div class=" col s4 l4 m4 offset-s2">
              <div class="row offset-s2">
                <img src="/static/ordermanage/img/non.png" style="width:100%; height: 70%;" />

              </div>
            </div>
            <div class=" col s4 l4 m4 offset-s2"></div>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
</section>
{% endif %}{% endblock %}
