{% extends "ordermanage/base.html" %}{% load staticfiles %}{% block title %}
Dashboard {% endblock %}{% block body %}
<section>
    </div>
</section>
<section>
    <div class="container ">
        <div class="row ">

            <div class="col m12 s12" style="margin-top:29px;">

                <div class="card  card-box">
                    <div class="card-head">
                        <header>WareHouse Orders Details</header>
                        <div class="tools">
                            <a class="btn btn-icon-toggle btn-collapse">
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <a class="btn btn-icon-toggle btn-close" href="{% url 'mf_list' %}">
                                <i class="md md-close"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="container about">
                            <div class="row">
                                <div class="col s12 m12 l12">
                                    <div class="row" style="padding-left:6%; padding-right:5%; padding-bottom:20px;">

                                        {% include 'mfstore/stepprogressbar.html' %}

                                    </div>
                                    <div class="col s12 m12 l6">
                                        <ul class="collection">
                                            <h5 class="header" style="border:none;">WareHouse
                                                Name: {{ order_details.order_by}}</h5>
                                            <li class="collection-item avatar">
                                                <i
                                                    class="material-icons circle green mdi-editor-format-align-justify">local_mall</i>
                                                <h6>Manufacture
                                                    Name's:- {{ order_details.manufacturer_list}}</h6>

                                            </li>
                                            <li class="collection-item avatar">
                                                <i class="material-icons circle green mdi-editor-format-align-justify">branding_watermark
                                                </i>Brand:- {{ order_details.order_for}}
                                                <p>
                                                    <blockquote>
                                                        Order Date: {{ order_details.order_date}}
                                                    </blockquote>
                                                </p>

                                            </li>
                                        </ul>

                                    </div>

                                    <div class="col s12 m12 l6">
                                        <ul class="collection" style="height: 244px !important;">
                                            <h5 class="header" style="border:none;">Address:
                                            </h5>
                                            <li class="collection-item avatar">
                                                <i
                                                    class="material-icons circle green mdi-editor-format-align-justify">play_for_work</i>
                                                Adress:-
                                                {{ order_details.order_from}}<br>
                                                {{address_query.contact_number}}
                                                <br>
                                                {{address_query.address}}<br>
                                                {{address_query.city}}<br>
                                                {{address_query.state}}&nbsp;{{address_query.zip}}

                                            </li>

                                        </ul>
                                    </div>

                                    <!-- <blockquote>
                                        {{ order_details.order_by}} use it for comment
                                    </blockquote> -->

                                </div>
                                <div class="col s12 m12 l12">

                                    <table class="responsive-table striped ">


                                        <thead>
                                            <tr>
                                                <th>Item Img</th>
                                                <th>Item SKU</th>
                                                <th>Item Name</th>
                                                <th>dimention</th>
                                                <th>color</th>
                                                <th>quantity</th>
                                                <th>pack_size</th>
                                                <th>delivery_date</th>
                                                <th>Status</th>

                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% for i in line_query%}
                                            {{i.id}}

                                            <tr>
                                                <td style="padding:3px!important;">
                                                    {% if i.manufacturer_table.order_for.Product_SKU.image == None %}
                                                        <img src="{% static "shop/img/no_image.png"%}"
                                                        alt="" class="responsive-img" width="100" height="100">
                                                    {% else %}
                                                    <img src="{{ i.manufacturer_table.order_for.Product_SKU.image.url }}"
                                                        alt="" class="responsive-img" width="100" height="100">
                                                    {% endif %}
                                                </td>
                                                <td>{{ i.item_sku }}</td>
                                                <td>{{ i.item_name }}</td>
                                                <td>{{ i.dimention }}</td>
                                                <td>{{ i.color }}</td>
                                                <td>{{ i.quantity }}</td>
                                                <td>{{ i.pack_size }}</td>
                                                <td>{{ i.delivery_date|date:"m-d-Y" }}</td>
                                                <td><a href="{% url 'lineitem' id=i.id %}"
                                                        class="btn ink-reaction btn-floating-action btn-warning">
                                                        <i class="md md-visibility"></i>
                                                    </a>&nbsp;&nbsp;&nbsp;
                                                    {% if i.manufacturer_table.order_status == 'close' %}
                                                    <a href="{% url 'pdf' %}" class="btn ink-reaction
                                                    btn-floating-action btn-warning">
                                                        <i class="md md-file-download"></i>
                                                    </a>&nbsp;&nbsp;&nbsp;

                                                    {% endif %}



                                                    {% if 'manufacturer' in group1 %}
                                                    <a href="{% url 'editlineitem' id=i.id %}"
                                                        class="btn ink-reaction btn-floating-action btn-warning">
                                                        <i class="md md-local-shipping"></i>
                                                    </a>

                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                                <div class="col s12 m12 l12">
                                    <ul class="collection">
                                        <div class="col s12 m12 l6">

                                            <h5 class="header" style="border:none;">Remark:
                                            </h5>
                                            <li class="collection-item avatar">
                                                <i
                                                    class="material-icons circle green mdi-editor-format-align-justify">description</i>
                                                {% for remark in remark_query %}
                                                {{remark.comment}}<blockquote>{{remark.date}}
                                                    <br><em>By.</em>{{remark.comment_by}}
                                                </blockquote>
                                                {% endfor %}

                                            </li>

                                        </div>
                                        <div class="col s12 m12 l6">

                                            <form method="POST" class="collection-item avatar">{% csrf_token %}
                                                <div class="form-group green-border-focus">
                                                    <!-- left unspecified, .bmd-form-group will be automatically added (inspect the code) -->
                                                    <label for="id_remark" class="bmd-label-floating">Comment:
                                                    </label>
                                                    <textarea type="text" class="form-control" id="id_remark"
                                                        name='remark' rows="3"></textarea>
                                                </div>
                                                <div class="form-group"><input type="submit" name="Submit"></div>
                                            </form>

                                        </div>
                                    </ul>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}