{% extends "ordermanage/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block title %}Create order{% endblock %}
{% block body %}
{% if user.is_authenticated %}


<section>
    <div class="section-body">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-head">
                        <header>Edit Order</header>
                        <div class="tools">
                            <a class="btn btn-icon-toggle btn-collapse">
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <a class="btn btn-icon-toggle btn-close">
                                <i class="md md-close"></i>
                            </a>
                        </div>
                    </div>
                    {% if messages %}
                    <ul class="messages">
                        <div id="modal1" class="modal">
                            <a href="{% url 'mf_list' %}"
                                class=" modal-action modal-close waves-effect waves-green btn-flat"><i
                                    class="material-icons">close</i></a>
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                                {{ message }}
                            </li>
                            {% endfor %}
                        </div>
                    </ul>
                    {% endif %}


                    <!-- Form start From hear-->

                    <form class="col s12" action="#" method="POST">
                        <div class="col s12 m12 l6">
                            <div class="card-body">
                                <div class="card-head">
                                    <header>WareHouse Details</header>
                                </div>

                                {% csrf_token %}
                                {{ form.as_p }}
                                {% if "warehouse" in group1 %}
                                <input type="submit" name="submit" value="Submit" />
                                {% endif %}
                            </div>
                        </div>
                        <div class="col s12 m12 l6">
                            <div class="card-body">
                                <div class="card-head">
                                    <header>Address</header>
                                </div>
                                <input type="text" name="address" value=" {{ address.address}}">
                                <input type="text" name="city" value="{{ address.city}}">
                                <input type="text" name="state" value="{{ address.state}}">
                                <input type="text" name="zip" value="{{ address.zip}}">
                                <input type="text" name="contact_number" value="{{ address.contact_number}}">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card">
                    <div class="card-head">
                        <header>Orders</header>
                    </div>
                    <div class="card-body">
                        <br>
                        <table class="responsive-table striped " id="result_list">
                            <thead>
                                <tr>
                                    <th>Item SKU</th>
                                    <th>Item Name</th>
                                    <th>Dimention</th>
                                    <th>Color</th>
                                    <th>Quantity</th>
                                    <th>Pack Size</th>
                                    <th>deliverydate</th>
                                    <th>ETA</th>
                                    <th>mf_Status</th>
                                    <th>warehouse_Status</th>
                                    <th>Edit</th>
                                    <th>Print List</th>


                                </tr>
                            </thead>
                            {% for all in bb %}
                            <form method="POST" action="{% url 'line_edit' id=all.id %}">{% csrf_token %}
                                <tbody>
                                    <tr id='{{all.id}}'>
                                        <input type="hidden" name="idfrm" value="{{all.id}}">
                                        <td>{{ all.item_sku}}</td>
                                        <td>{{ all.item_name}}</td>
                                        <td>{{ all.dimention}}</td>
                                        <td class="field_color">{{ all.color}}</td>
                                        <td class="lineitem"><input type="number" name='quantity'
                                                value="{{all.quantity}}">
                                        </td>
                                        <td class="lineitem"><input type="number" name='pack_size'
                                                value="{{ all.pack_size}}"></td>
                                        <td>{{ all.delivery_date|date:"m-d-Y" }}</td>
                                        {% if "manufacturer" in group1 %}

                                        {% if all.Eta == None %}
                                        <td class="lineitem"><input type="date" name='eta'
                                                value='{{ all.Eta|date:"m-d-Y" }}' required></td>

                                        {% else %}
                                        <td class="lineitem">{{ all.Eta|date:"m-d-Y"}}</td>

                                        {% endif %}
                                        {% else %}
                                        {% if all.Eta == None %}
                                         
                                        <td class="lineitem">NaN</td>
                                        {% else %}
                                        
                                        
                                        <td class="lineitem">{{all.Eta|date:"d-m-Y"}}</td>
                                        
                                        {% endif %}
                                        {% endif %}

                                        <td name="{{all.mf_status }}">{{all.mf_status }}

                                        </td>

                                        <td name="{{all.mf_status }}">{{all.warehouse_status }}

                                        </td>

                                        <td>
                                            {% if "Pending" in all.mf_status  and 'manufacturer' in group1 %}
                                            <button type="submit" name="save"
                                                class="btn ink-reaction btn-floating-action btn-warning">
                                                <i class="md md-save"></i>
                                            </button>
                                            {% endif %}
                                            {% if "Pending" in all.warehouse_status  and 'warehouse' in group1 %}
                                            <button type="submit" name="save"
                                                class="btn ink-reaction btn-floating-action btn-warning">
                                                <i class="md md-save"></i>
                                            </button>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if "Acknowledge" in all.mf_status  or 'manufacturer' in group1 %}
                                            <!-- <button type="submit" onclick="window.location.href ='{% url "topdf" %}'"
                                                name="download_slip"
                                                class="btn ink-reaction btn-floating-action btn-warning"
                                                value="download_slip">
                                                <i class="md md-get-app"></i>
                                            </button> -->

                                            <a href="{% url 'pdf' id=all.id %}"
                                                class="btn ink-reaction btn-floating-action btn-warning"> <i
                                                    class="md md-get-app"></i>
                                            </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </form>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}{% endblock %}