{% extends "ordermanage/base.html" %}{% load staticfiles %}{% block title %}
Dashboard {% endblock %}{% block body %}
<section>
    </div>
</section>
<section>
    <div class="container ">
        <div class="row ">

            <div class="col m12 s12" style="margin-top:29px;">

                <div class="card  card-box">
                    <div class="card-head">
                        <header>WareHouse Orders Details</header>
                        <div class="tools">
                            <a class="btn btn-icon-toggle btn-collapse">
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <a class="btn btn-icon-toggle btn-close" href="{% url 'mf_list' %}">
                                <i class="md md-close"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="container about">
                            <div class="row">
                                <div class="col s12 m12 l12">
                                    <div class="row" style="padding-left:6%; padding-right:5%; padding-bottom:20px;">
                                        {% include 'mfstore/stepprogressbar.html' %}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}