{% extends "ordermanage/base.html" %}{% load staticfiles %}{% block title %}
Dashboard {% endblock %}{% block body %}
<title>Steps progress</title>
<style>
    .container {
        width: 100%;
        /* margin-left: auto;
            margin-right: auto; */
    }

    .progressbar {
        counter-reset: step;

    }

    .progressbar li {
        list-style-type: none;
        float: left;
        width: 19.33%;
        position: relative;
        text-align: center;

    }

    .progressbar li:before {
        content: counter(step);
        counter-increment: step;
        width: 70px;
        height: 70px;
        line-height: 70px;
        border: 1px solid #ddd;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50px;
        background-color: white;
    }

    .progressbar li:after {
        content: '';
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: #ddd;
        top: 35px;
        left: -50%;
        z-index: -1
    }

    .progressbar li:first-child:after {
        content: none;
    }

    .progressbar li.active {
        color: green;
        width: 200px;

    }

    .progressbar li.active:before {
        border-color: green;

    }

    .progressbar li.active+li:after {
        background-color: green;

    }

    .progressbar li img {
        height: 20px;
    }
</style>
<div class="container ">
    <div class="row ">
        <div class="col m12 s12" style="margin-top:29px;">
            <div class="card  card-box">
                <div class="card-head">
                    <header>Line item Details</header>
                    <div class="tools">
                        <a class="btn btn-icon-toggle btn-collapse">
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <a class="btn btn-icon-toggle btn-close" href="{% url 'mf_list' %}">
                            <i class="md md-close"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="container about">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="row" style="padding-left:6%; padding-right:5%; padding-bottom:20px;">
                                    <ul class="progressbar">
                                        <li class="{% if order_position >= 1 %}active{% endif %}"
                                            title="{{ order_position }}">Out-from
                                            MFStore</a>
                                        </li>
                                        <li class="{% if order_position >= 2 %}active{% endif %}">Dispatch Warehouse
                                        </li>
                                        <li class='{% if order_position >= 3 %}active{% endif %}'>On The Ship</li>
                                        <li class='{% if order_position >= 4 %}active{% endif %}'>Reached
                                            Destination</li>
                                        <li class='{% if order_position >= 5 %}active{% endif %}'>Deliverd</li>
                                        <!-- <li>WH Confirmation</li> -->
                                    </ul>
                                    {% if form %}
                                    <div class="row">
                                        <form method="POST">{{form.as_p}}{% csrf_token %}
                                            <input type="submit" name="Submit">
                                        </form>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m12 l6">
                        <ul class="collection">
                            <h5 class="header" style="border:none;">PO
                                Number: {{ order_details.manufacturer_table}}</h5>
                            <li class="collection-item avatar">
                                <i class="material-icons circle green mdi-editor-format-align-justify">local_mall</i>
                                <h6>Item SKU
                                    :- {{ order_details.item_sku}}</h6>

                            </li>
                            <li class="collection-item avatar">
                                <i class="material-icons circle green mdi-editor-format-align-justify">branding_watermark
                                </i>Item Name:- {{ order_details.item_name}}
                                <p>
                                    <blockquote>
                                        Delivery Date: {{ order_details.delivery_date|date:"d-M-Y"}}
                                    </blockquote>
                                </p>

                            </li>
                        </ul>

                    </div>

                    <div class="col s12 m12 l6">
                        <ul class="collection" style="height: 244px !important;">
                            <h5 class="header" style="border:none;">Details:
                            </h5>
                            <li class="collection-item avatar">
                                <i class="material-icons circle green mdi-editor-format-align-justify">play_for_work</i>
                                Order Details:-
                                <div class="row">
                                    <div class="col s6 m6 l6">
                                        <p>
                                            <blockquote style="border-color: green">
                                                Name: {{ order_details.item_name }}
                                            </blockquote>
                                        </p>
                                        <p>
                                            <blockquote style="border-color: green">
                                                Dimention: {{ order_details.dimention}}
                                            </blockquote>
                                        </p>
                                        <p>
                                            <blockquote style="border-color: green">
                                                Color: {{ order_details.color}}
                                            </blockquote>
                                        </p>

                                    </div>
                                    <div class="col s6 m6 l6">
                                        <blockquote style="border-color: green">
                                            Quantity: {{ order_details.quantity}}
                                        </blockquote>
                                        </p>

                                        <p>
                                            <blockquote style="border-color: green">
                                                Pack Size: {{ order_details.pack_size}}
                                            </blockquote>
                                        </p>
                                        <p>
                                            <blockquote>
                                                ETA: {{ order_details.Eta |date:"d-M-Y"}}
                                            </blockquote>
                                        </p>
                                    </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}