{% extends "ordermanage/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block title %}Create order{% endblock %}
{% block body %}
{% if user.is_authenticated %}

<section id="content">
    <div class="container">
        {% if messages %}
        <ul class="messages">
            <div id="modal1" class="modal">
                <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">
                    <i class="material-icons">close</i></a>
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    {{ message }}
                </li>
                {% endfor %}
            </div>
        </ul>
        {% endif %}{{ block_quantity }}

        <div id="card-stats">
            <div class="row">
                <div class=" col s12 m6 l6">
                    <div class="card  card-box">
                        <div class="card-head">
                            <header>Status</header>
                        </div>
                        <div class="card-body p2 height-9">
                            <div class="row">
                                <!-- <div class="col s12 m6 l6">
                                    <a href="">
                                        <div class="card">
                                            <div class="card-content cyan white-text">
                                                <p class="card-stats-title">
                                                    <i class="material-icons">add_shopping_cart</i> Total Open
                                                    orders
                                                </p>
                                                <h4 class="card-stats-number">{{ total_open }}</h4>
                                                <p class="card-stats-compare">
                                                    <i class="material-icons">keyboard_arrow_up</i>
                                                    <span class="cyan text text-lighten-5">Open Status</span>
                                                </p>
                                            </div>
                                            <div class="card-action cyan darken-1">
                                                <div id="clients-bar" class="center-align"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div> -->
                                <div class="col s12 m6 l12">
                                    <a href="{% url 'whopenorder' %}">
                                        <div class="card">
                                            <div class="card-content red accent-2 white-text">
                                                <p class="card-stats-title">
                                                    <i class="material-icons">folder_open</i>Total Open orders
                                                </p>
                                                <h4 class="card-stats-number">{{ total_open }}</h4>
                                                <p class="card-stats-compare">
                                                    <i class="material-icons">keyboard_arrow_up</i>
                                                    <span class="red-text text-lighten-5">Warehouse Status</span>
                                                </p>
                                            </div>
                                            <div class="card-action red darken-1">
                                                <div id="sales-compositebar" class="center-align"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m12 l12">
                                    <a href="{% url 'twodaysopen' %}">
                                        <div class="card">
                                            <div class="card-content teal accent-4 white-text">
                                                <p class="card-stats-title">
                                                    <i class="material-icons">folder_open</i> Total close
                                                </p>
                                                <h4 class="card-stats-number">
                                                    {{ close_order }}</h4>
                                                <p class="card-stats-compare">
                                                    <i class="material-icons">keyboard_arrow_up</i>
                                                    <span class="teal-text text-lighten-5">From Last 2
                                                        Days</span>
                                                </p>
                                            </div>
                                            <div class="card-action teal darken-1">
                                                <div id="profit-tristate" class="center-align"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- <div class="col s12 m6 l6">
                                    <a href="{% url 'threedaysopen' %}">
                                        <div class="card">
                                            <div class="card-content deep-orange accent-2 white-text">
                                                <p class="card-stats-title">
                                                    <i class="material-icons">content_copy</i>Total Open Orders >
                                                    3 Days
                                                </p>
                                                <h4 class="card-stats-number">{{ threedays }}</h4>
                                                <p class="card-stats-compare">
                                                    <i class="material-icons">keyboard_arrow_down</i>
                                                    <span class="deep-orange-text text-lighten-5">From Last 3
                                                        Days</span>
                                                </p>
                                            </div>
                                            <div class="card-action  deep-orange darken-1">
                                                <div id="invoice-line" class="center-align"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col s12 m6 l6">
                    <div class="card  card-box" style="overflow-y: scroll;">
                        <div class="card-head">
                            <header>Notifications</header>
                        </div>
                        <div class="card-body no-padding height-9">
                            <div class="row">
                                <div class="noti-information notification-menu">
                                    <div class="notification-list mail-list not-list small-slimscroll-style">
                                        <!-- <div class="col s9"> -->
                                        {% if notification %} {% for notification in notification %}
                                        {% if notification.comment %}
                                        <a href="" class="single-mail">
                                            <span class="icon bg-primary"><i class="material-icons">mail_outline
                                                </i></span>
                                            <span class="text-purple">{{ notification.comment_by }}</span>
                                            <!-- {{ notification.remark_po.remark}} -->
                                            <div>
                                                <span class="notificationcolor">{{ notification.comment }}</span>
                                            </div>
                                            <span class="notificationtime">
                                                <small>{{ notification.date }}</small>
                                            </span>
                                        </a>

                                        {% endif %} {% endfor %} {% else %}
                                        <a href="#"><img src="/static/ordermanage/img/logo.png"
                                                style="width:100%; height: 70%;" /></a>

                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Body Section-->

<section>
    <div class="row">
        <div class="col m12 s12 ">
            <div class="card  card-box">
                <div class="card-head">
                    <header>Orders</header>
                </div>
                <div class="card-body ">
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <form action="#" method="POST">

                                {% if query_results_whorder %}

                                <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                                    <thead>
                                        <tr>
                                            {% comment %}
                                            <hr />
                                            <th><input type="checkbox" id="checkAll" /></th>
                                            {% endcomment %}
                                            <th><input type="checkbox" id="checkAll" /></th>
                                            <th>PO Number</th>
                                            <th>WareHouse Name</th>
                                            <th>Manufacturer Name</th>

                                            <th>Status</th>
                                            <th>Create Date</th>

                                            <th>Button</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for order in query_results_whorder %}


                                        <!--PO Number-->
                                        <tr>
                                            <td>
                                                <input class="checkbox" type="checkbox" name="selectCheckbox"
                                                    id="{{ order.invoice_no }}" value="{{ order.invoice_no }}" />
                                            </td>


                                            <td>
                                                <a href="{% url 'details' id=order.id %}">{{ order.invoice_no }}</a>
                                            </td>

                                            <!--Flag -->

                                            <td>{{ order.order_by }}</td>

                                            <!--Company Name-->

                                            <!-- <td>{{order.company_name}}</td> -->

                                            <!--Courier Method-->

                                            <td>{{ order.order_for }}</td>
                                            <!--product Sku Method-->

                                            <!--Directory_Name-->



                                            <!--Directory_Name-->
                                            <td class="contentstatus">{{ order.order_status }}</td>

                                            <td>{{ order.order_date }}</td>


                                            {{ lineitem.mf_status }}
                                            <td>{% if 'open' in order.order_status %}

                                                <a href="{% url 'edit' id=order.id %}"
                                                    class="btn ink-reaction btn-floating-action btn-warning"><i
                                                        class="md md-edit"></i></a>&nbsp;&nbsp;&nbsp;
                                                {% endif %}

{{lineitem.mf_status}}
                                                {% if 'Acknowledge' in lineitem and 'Acknowledge' in warehouse_status %}
                                                <a href="{% url 'details' id=order.id %}"
                                                    class="btn ink-reaction btn-floating-action btn-warning">
                                                    <i class="md md-visibility"></i>
                                                </a>
                                                {% endif %}
                                            </td>
                                        </tr>

                                        {% endfor %}



                                    </tbody>
                                </table>
                                {% else %}
                                <div class="container">
                                    <div class=" col s4 l4 m4 offset-s2"></div>
                                    <div class=" col s4 l4 m4 offset-s2">
                                        <div class="row offset-s2">
                                            <img src="/static/ordermanage/img/non.png"
                                                style="width:100%; height: 70%;" />

                                        </div>
                                    </div>
                                    <div class=" col s4 l4 m4 offset-s2"></div>
                                </div>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endif%}
{% endblock %}