<!Doctype html>
<html>

<head>
    <title>Steps progress</title>
    <style>
        .container {
            width: 100%;
            /* margin-left: auto;
            margin-right: auto; */
        }

        .progressbar {
            counter-reset: step;

        }

        .progressbar li {
            list-style-type: none;
            float: left;
            width: 19.33%;
            position: relative;
            text-align: center;

        }

        .progressbar li:before {
            content: counter(step);
            counter-increment: step;
            width: 70px;
            height: 70px;
            line-height: 70px;
            border: 1px solid #ddd;
            display: block;
            text-align: center;
            margin: 0 auto 10px auto;
            border-radius: 50px;
            background-color: white;
        }

        .progressbar li:after {
            content: '';
            position: absolute;
            height: 3px;
            width: 100%;
            background-color: #ddd;
            top: 35px;
            left: -50%;
            z-index: -1
        }

        .progressbar li:first-child:after {
            content: none;
        }

        .progressbar li.active {
            color: green;
            width: 200px;

        }

        .progressbar li.active:before {
            border-color: green;

        }

        .progressbar li.active+li:after {
            background-color: green;

        }

        .progressbar li img {
            height: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <ul class="progressbar">
                <li class="{% if order_position >= 1 %}active{% endif %}" title="{{ order_position }}">Out-from
                    MFStore</a>
                </li>
                <li class="{% if order_position >= 2 %}active{% endif %}">Dispatch Warehouse</li>
                <li class='{% if order_position >= 3 %}active{% endif %}'>On The Ship</li>
                <li class='{% if order_position >= 4 %}active{% endif %}'>Reached Destination</li>
                <li class='{% if order_position >= 5 %}active{% endif %}'>Deliverd</li>
                <!-- <li>WH Confirmation</li> -->
            </ul>
        </div>
        <div class="row">
            <div class="col m4 l4 s12">
                <div class="col s12 m12 l10 offset4">
                    {% if form %}
                    <form method="POST">{% csrf_token %}
                        {{form.as_p}}
                        {{ form_description.as_p }}
                        <input type="submit" name="Submit">
                    </form>
                    {% endif %}
                </div>
            </div>
            {% if Steps_query %}
            <div class="col m7 l7 s12">
                <table style="table-layout: fixed; width: 100%;">
                    <thead>
                        <tr>
                            <th>PO Number</th>
                            <th>Point/Arrived At</th>
                            <th>location</th>
                            <th>Details</th>
                            <th>Time|Date</th>
                            <th>ETA</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for position in Steps_query %}
                        <tr>
                            <td>{{position.lineitem.manufacturer_table}}</td>
                            <td>{{position.step_position}}</td>
                            <td>{{position.location}}</td>
                            <td style="word-wrap: break-word; ">
                                {{position.step_description}}</td>
                            <td>{{position.date}}</td>
                            <td>{{position.Final_date}}</td>
                        </tr>
                        {% endfor %}


                    </tbody>
                </table>
            </div>
            {% endif %}
            <!--end of row-->
        </div>
    </div>
</body>

</html>