<form method="POST">{% csrf_token%}
    {{ form.as_p }}
    <input type="submit" name="Submit">
</form>

// '<div class="col s12" style="margin-top:10px; margin-bottom:10px;" id="item1"><select name="new_Sku1"
        style="margin-right:20px; display:block !important;" id="new_Sku1">
        <option class="new_Sku" name="new_Sku">Select SKU</option>{%for item in ManufactureLineTable %}<option
            data-incr_value="1" value="{{item.Manufacturer_SKU}}" name="new_Sku">{{ item.Manufacturer_SKU }}</option>
        {% endfor %}
    </select>' +
    // '<label class="bmd-label-floating">quantity</label><input type=text value="1" name="qty">' + '<label
        class="bmd-label-floating">Pack Size</label><input type=text value="" name="pack_size">' + '<label
        class="bmd-label-floating">Max Delivery Date</label><input type=date value="" name="calender">' + '<input
        type="button" value="delete" id="delete"></div> ');