{% extends "ordermanage/base.html" %}{% load staticfiles %}{% block title %}
Dashboard {% endblock %}{% block body %}
<section>
  </div>
</section>
<section>
  <div class="container ">
    <div class="row ">
      <div class="col m12 s12" style="margin-top:29px;">
        <div class="card  card-box">
          <div class="card-head">
            <header>Orders</header>
          </div>
          <div class="card-body ">
            <div class="table-wrap">
              <div class="table-responsive">
                <form action="#" method="POST">
                  <input type="submit" class="waves-effect waves-light btn" data-target="modal1" data-toggle="button"
                    aria-pressed="false" autocomplete="off" style="float: right; " value="Update">
                  <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Warehouse</th>
                        <th>Manufacturer</th>
                        <th> Brand</th>
                        <th>Container</th>
                        <th>Pack</th>
                        <th>Order For</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for query in queryset %}

                      <!--PO Number-->
                      <tr>
                        <td><a href="{% url 'details' id=query.id %}">{{ query.wh_name}}</a>
                          <!-- <input class="checkbox" type="checkbox" name="selectCheckbox" id="" value="" /> -->
                        </td>

                        <td>{{ query.manufacturer_name}}</td>
                        <td>{{ query.brand}}</td>
                        <td>{{ query.category}}</td>
                        <td>{{ query.multi_pack}}</td>
                        <td><a href="{% url 'edit' id=query.id %}">{{ query.order_from}}</a></td>
                        {% endfor %}
                  </table>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}