{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static "shop/css/base.css" %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
    <div id="header" style="background-color: #dcd9d9;">
        <a href="/" class="logo">Inventory</a>
        <a href="{% url "logout" %}" style="float: right; font-size: 15px; text-decoration: underline; color: #2e82bb;">Logout</a>
        

    </div>
    </div>

   
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
