{% load staticfiles %} 

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'ordermanage/css/style.css' %}" />
    <!-- <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"> {% include "ordermanage/css.html" %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <body class="menubar-pin menubar-hoverable header-fixed ">

        {% include "ordermanage/header.html" %}

        <div id="base">

            <div id="content">

                {% block body %} {% endblock %}

            </div>
            <!--end #content-->
            <!-- END CONTENT -->


            {% include "ordermanage/sidebar.html" %}
        </div>


        <!-- Compiled and minified JavaScript -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>

        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
                 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> 
        <!-- <script src="{% static 'ordermanage/js/libs/jquery/jquery-1.7.1.min.js' %}"></script> -->

                <!-- <script src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js'></script>

        <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js" charset="utf-8"></script> -->
        <!-- <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->


        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> <!--PIe Chart-->

        <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>-->



<script>
 $(function () {
   var bindDatePicker = function() {
		$(".date").datetimepicker({
        format:'YYYY-MM-DD',
			icons: {
				time: "fa fa-clock-o",
				date: "fa fa-calendar",
				up: "fa fa-arrow-up",
				down: "fa fa-arrow-down"
			}
		}).find('input:first').on("blur",function () {
			// check if the date is correct. We can accept dd-mm-yyyy and yyyy-mm-dd.
			// update the format if it's yyyy-mm-dd
			var date = parseDate($(this).val());

			if (! isValidDate(date)) {
				//create date based on momentjs (we have that)
				date = moment().format('YYYY-MM-DD');
			}

			$(this).val(date);
		});
	}
   
   var isValidDate = function(value, format) {
		format = format || false;
		// lets parse the date to the best of our knowledge
		if (format) {
			value = parseDate(value);
		}

		var timestamp = Date.parse(value);

		return isNaN(timestamp) == false;
   }
   
   var parseDate = function(value) {
		var m = value.match(/^(\d{1,2})(\/|-)?(\d{1,2})(\/|-)?(\d{4})$/);
		if (m)
			value = m[5] + '-' + ("00" + m[3]).slice(-2) + '-' + ("00" + m[1]).slice(-2);

		return value;
   }
   
   bindDatePicker();
 });

</script>
        <!-- start For chart -->

 <script type="text/javascript">
            google.charts.load("current", {
                packages: ["corechart"]
            });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Task', 'Hours per Day'],
                    ['Total no. of SKU', {{rest}}],
                    ['(SKU < 20)', {{red_percent}}],
                    ['SKU(20-25)', {{yellow_percent}}],
                    

                ]);

                var options = {

                    pieHole: 0.4,
                };

                var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
                chart.draw(data, options);
            }
        </script>

        <script type="text/javascript">
            google.charts.load("current", {
                packages: ["corechart"]
            });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Task', 'Hours per Day'],
                    ['Total no. of SKU', {{rest}} ],
                    ['(SKU < 20)', {{red_percent}} ],
                    ['SKU(20-25)', {{yellow_percent}} ],
                    

                ]);

                var options = {

                    pieHole: 0.4,
                };

                var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
                chart.draw(data, options);
            }
        </script>

                <!--start  For search pagination -->
        <script>
            $(document).ready(function() {
                $('#myTable').dataTable();
            });
        </script>
        <!-- end For search pagination -->


        



        <!-- For removing search and entries from datatable -->
        <script>
            $('#data-table-simple').dataTable({
                "searching": false,
                "lengthChange": false,
            });
        </script>




        <!-- For coloring open/close status -->
        <script>
            $(".contentstatus:contains('open')").addClass("label label-sm label-danger");
            $(".contentstatus:contains('close')").addClass("label label-sm label-success");
            $(".contentstatus:contains('Na')").addClass("label label-sm label-warning");
        </script>


 <!-- For coloring Po according to quantity -->
       {% comment %} <script>
           $(document).ready(function() {
  
           $('td.status[value -gt 100]').css('background-color', 'blue');
           $('td.status[value -lt 50]').css('background-color', 'orange');
           $('td.status[value = 20]').css('background-color', 'red');
         });

       </script> {% endcomment %}
       <script>
            $(document).ready(function(){  
            var mc = {
                '0-19'     : 'red',
                '20-50'    : 'orange',
                '51-500'   : 'green'
            };  
            function between(x, min, max) {
            return x >= min && x <= max;
        }       
        var dc;
        var first; 
        var second;
        var th;        
        $('td').each(function(index){            
            th = $(this);            
            dc = parseInt($(this).attr('data-color'),10);           
            $.each(mc, function(name, value){              
                first = parseInt(name.split('-')[0],10);
                second = parseInt(name.split('-')[1],10);                
                console.log(between(dc, first, second));                
                if( between(dc, first, second) ){
                th.addClass(value);
                }           
            });
            
        });
        });
       </script>
<!-- For messgaes popup -->
<script>

(function ($) {
    $(function () {
        
        //initialize all modals           
        $('.modal').modal();

        //now you can open modal from code
        $('#modal1').modal('open');

        //or by click on trigger
        $('.trigger-modal').modal();

    }); // end of document ready
})(jQuery); // end of jQuery name space

</script>



<script>
 $(".allownumericwithoutdecimal").on("keypress keyup blur",function (event) {    
           $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });
</script>










        {% include "ordermanage/js.html" %}

    </body>

</html> 