{% extends "ordermanage/base.html" %}
{% load staticfiles %}
 {% block title %}Create{% endblock %}

{% block body %}

<section>
       <div class="section-body">
               <div class="row">
                       <div class="col s12">
                               <div class="card">
                                       <div class="card-head">
                                               <header>Add Company</header>
                                               <div class="tools">
                                                       <!-- <a class="btn btn-icon-toggle btn-collapse">
                                                               <i class="fa fa-angle-down"></i>
                                                       </a> -->
                                                       <a href=" {% url 'shop:product_list'  %}">
                                                       <class="btn btn-icon-toggle btn-close">
                                                               <i class="md md-close"></i>
                                                       </a>
                                               </div>
                                       </div>

                                       

                                       {% if messages %}
                                       {{ message }}
                                       <ul class="messages">
                                           <div id="modal1" class="modal">
                                               <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></a> {% for message in messages %}
                                               <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                                   {% endfor %}
                                           </div>
                                       </ul>
                                       {% endif %}




                                       
               <div class="card-body">
                    <div class="table-responsive">
                         <form  class="col s6" action="" method="POST" enctype="multipart/form-data"><table id="datatable2" class="table order-column hover">{% csrf_token %}
                                <div class="input-field col s6">
                                <table class="table table-striped table-condensed">
                                        <thead class="thead">
                                            <tr>

                                               
                                                <th><input type="checkbox" id="checkAll" ></th>
                                                <th>Company Id</th>
                                                <th>Courier Method</th> 
                                     
                                        </tr>
                                        </thead>
                                        <tbody>
                                          {% for couriermethod in all_couriermethod %}
                              
                                          <tr style=" line-height: 35px;">
                                              <td><input type="checkbox" name="selectCheckbox" id="{{couriermethod.courier_method}}"></td>
                                              <td>{{couriermethod.id}}</a></td>
                                              <td>{{couriermethod.courier_method}}<br></td>
                                              
                              
                              
                              
                                          </tr>
                                       
                                        {% endfor %}
                                      
                                      </tbody>
                                    </table>
                                    <div style="clear: both;"></div>
                                </div>
                              
                   
                <div class="input-field col s4">
                                <label for="id_courier_method">Courier Method Name:</label>{{ form.courier_method }}
                      </div>
                                    
                     <div class="input-field col s2">
                        <div class=" input-field">
                                <button class="btn cyan waves-effect waves-light right" type="submit" value="SUBMIT">Submit
                                    <i class="material-icons right">send</i>
                      </div>
                </div>
               

                      
                       
                    </form>
                    
                    <div class="row">
                                <div class="col s12"> 
                            <div class="input-field">
                        
                                <a href= " {% url 'shop:product_list'  %}"><button type="submit" class="btn cyan waves-effect waves-light right"><i class=" close material-icons right white-text">close</i>Close</button>
                                </a>
                        
                            </div>
                        </div>
                        </div>

                </div>
             </div>
                </div>
               </div>
       </div>
       </div>
</section>


<!-- <div class="row">
        <div class="col s12"> 
    <div class="form-group1 sec">

        <a href= " {% url 'shop:product_list'  %}"><button type="submit" class="btn cyan waves-effect waves-light"><i class=" close material-icons right white-text">close</i>Close</button>
        </a>

    </div>
</div>
</div> -->
{% endblock %}