 {% extends "ordermanage/base.html" %} {% load crispy_forms_tags %} {% load staticfiles %} {% block title %}Create{% endblock %} {% block body %} {% if user.is_authenticated %}
<section>
    <div class="section-body">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-head">
                        <header>Create PO</header>
                        <div class="tools">
                            <a class="btn btn-icon-toggle btn-collapse">
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <a class="btn btn-icon-toggle btn-close">
                                <i class="md md-close"></i>
                            </a>
                        </div>
                    </div>
                    {% if messages %}
                    <ul class="messages">
                        <div id="modal1" class="modal">
                            <a href="{% url 'create' %}" class=" modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></a> {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                {% endfor %}
                        </div>
                    </ul>
                    {% endif %}{{ block_quantity }}
                    <!-- Form start From hear-->
                    <div class="card-body">
                        <form class="col s12" action="#" method="POST">{% csrf_token %}

                            <div class="row">
                                <div class="input-field col s6">


                                    <p><label>{{ form.po.label }}:</label>
                                        <!-- <input id="alpha" type="text" pattern="[a-zA-Z0-9]+" required> -->
                                        <input type="text" name="po" required="" id="id_po" maxlength="50" pattern="[a-zA-Z0-9]+" required>
                                </div>
                                <input type="hidden" name="cmpName" value="{{ cmpName.company_name }}"/>
                                <div class="input-field col s6">
                                    
                                    <p><label>{{ form.company_name.label }}:</label> {{ form.company_name }}</p>
                                </div>
                            </div>  

                            <div class="row">
                                <div class="input-field col s6">


                                    <p><label>{{ form.courier_method.label }}:</label> {{form.courier_method}}
                                </div>

                                <div class="input-field col s6">
                                    <p><label>{{ form.Directory_Name.label }}:</label> {{form.Directory_Name}}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s6">

                                    <p><label>{{ form.order_po_date.label }}:</label>

                                        <input type="date" class="format" name="order_po_date" required id="id_order_po_date">
                                        <!-- <input type="text" class="datepicker" name="order_po_date" required="" id="id_order_po_date"> -->
                                    </p>
                                </div>
                                <div class="input-field col s6">
                                        <p><label>{{ form.remark.label }}:</label>{{form.remark}}
                                    </div>
                            </div>
                            <!-- address form-->
                            <div class="row">
                                {% for field in address_form %} 
                                <div class="input-field col s6">
                                         <!-- <p><label>{{ form.remark.label }}:</label>{{form.remark}} -->
                                     {% comment %} {{address_form.as_p}} {% endcomment %}
                                     {{ field.label_tag }} {{ field }}
                                    </div>
                                {% endfor %} 
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <p>
                                        <div id="item" class="card card-box">
                                            <ul class="commentdetail">
                                                <li>
                                                    <input type="button" name="add new" id="add" value="Add More Sku">
                                                </li>
                                            </ul>
                                        </div>
                                    </p>
                                </div>
                            </div>


                            <div class="row">
                                <div class="clo s12">

                                    <div class="col 6 input-field">
                                        <div class=" input-field">
                                            <button class="btn cyan waves-effect waves-light right" type="submit" value="SUBMIT">Submit
                                                <i class="material-icons right">send</i>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endif %}



{% endblock %}