 {% extends "ordermanage/base.html" %} {% load staticfiles %} {% block title %}Detail{% endblock %} {% if user.is_authenticated %} {% if user.is_active %} {% block body %}

<section class="detailsection">
    <div class="row">
            {% if messages %}
            <ul class="messages">
                <div id="modal1" class="modal">
                    <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></a> {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </div>
            </ul>
            {% endif %} {{ block_quantity }}
        <form class="form-horizontal" action="#" method="POST" id="details_form">{% csrf_token %} {% comment %} {% If user.is_authenticated %} {% endcomment %}
            <div class="col s12 detailtable1">
                <h6 class="header2">Purchase Order: {{ order_details.po}} </h6>

                <!-- <div class="col l6 m6 s12 detailtable"> -->
                <div class=" col l6 m6 s12 card cardwidth ">
                    <table id="data-table-simple" class="bordered" cellspacing="0">
                        <!-- <tr>
<td>Po</td>
<td>{{ order_details.po}}</td>
</tr> -->

                        <tr>
                            <td>Directory Name</td>
                            <td>{{ order_details.Directory_Name}}</td>
                        </tr>

                        <tr>
                            <td>Warehouse Status</td>
                            <td class="contentstatus">{{ order_details.warehouse_staff_status }}</td>
                        </tr>

                        <tr>
                            <td>Pickup Date</td>
                            <td>{{ order_details.pickup_date }}</td>
                        </tr>

                        <tr>
                            <td>Company SKU & Quantity</td>
                            <td>{% for order_quantity in order_quantity%} {{ order_quantity.vendor_SKU}} & Qty {{ order_quantity.order_quantity}} {% endfor%}</td>
                        </tr>
                        <tr>
                            <td>Company Name</td>
                            <td>{{ order_details.company_name.company_name}}</td>
                        </tr>

                        <!-- </div> -->

                    </table>

                </div>

                <div class=" col l6 m6 s12 card  cardwidth1 ">
                    <table id="data-table-simple" class="bordered" cellspacing="0">  

                        <tr>
                            <td>Date Of Po</td>
                            <td>{{ order_details.order_date}}</td>
                        </tr>

                        <tr>
                            <td>Status</td>
                            <td class="contentstatus">{{ order_details.status }}</td>
                        </tr>

                        <tr>
                            <td>Invoice</td>
                            <td>{{ order_details.invoice_send }}</td>
                        </tr>

                        <tr>
                            <td>Po Date</td>
                            <td>{{ order_details.order_po_date }}</td>
                        </tr>

                        <tr>
                            <td>Courier Method</td>
                            <td>{{ order_details.courier_method}}</td>
                        </tr>

                    </table>


                </div>
                </div>


    </div>
</section>

<section>
    <div class="row">
        <div class="col s12 ">
            <div class="card  colorcard">
                <h6 class="header2">Comment Section </h6>
                <div class="col l6 m6 s12">

                    <div class="card " style="overflow-y: scroll;">
                        <div class="card-head1">
                            <h6 class="detailhead">Notifications</h6>
                        </div>
                        <div class="card-body no-padding height-10 ">
                            <div class="row">
                                <div class="notification-list mail-list not-list small-slimscroll-style">

                                    {% for notification in notification %}
                                    <a href="javascript:;" class="single-mail"> <span class="icon bg-primary"> <i class="material-icons">mail_outline </i>
                                                    </span> <span class="text-purple">{{ notification.remark_po.user }}</span>
                                        <div><span class="notificationcolor">{{ notification.comment |truncatechars:75}}</span></div>
                                        <span class="notificationtime">                                           
                                                        <small>{{ notification.date }}</small>
                                                    </span>
                                    </a>

                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l6 m6 s12">
                    <div class="card  cardstyle" style="overflow-y: scroll;">

                        <div class="card-head1">


                            <h6 class="detailhead"> Edited By</h6>
                        </div>
                        {% for i in remark2 %}

                        <label class="editedby"> Last Modified by: {{ i.user}} 
{{ i.date}}</label> {%endfor%}


                    </div>
                </div>
                <div class="row">
                    <div class="col s12 ">
                        <h6 class="header2">Remark: </h6>
                        <div class="col l12 m12 s12">
                            <div class="card ">
                                <ul class="commentdetail">
                                    {% for i in remark2 %}
                                    <li>{{ i.comment}}
                                        <hr>
                                    </li>


                                    {%endfor%}
                                    <p>
                                        <div class="waves-effect waves-light secondary-content">
                                        </div>

                                        <input class="btn-floating red" type="submit" name="submit" value="+">
                                        <textarea name="Warehouse_remark" id="id_Warehouse_remark"></textarea>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                </form>

            </div>
        </div>
    </div>
    </div>
</section>





<div class="col l6 m6 s12">
    <div class="row">
        <div class="form-group1">
            {% if "warehouse" in group1 %}
                <a href="{% url 'active' pk=order_details.pk %}" class="btn-floating btn-medium red">
                    <i class="large material-icons">mode_edit</i>
                </a>
            {% else %}
                
                {% if "CLOSE" in order_details.warehouse_staff_status %}
                    <a href="{% url 'edit' pk=order_details.pk %}" class="btn-floating btn-medium red">
                        <i class="large material-icons">mode_edit</i>
                    </a>
                    {% else %}
                    <a href="{% url 'update' pk=order_details.pk %}" class="btn-floating btn-medium red">
                        <i class="large material-icons">mode_edit</i>
                    </a>
                {% endif %}
            {% endif %}    

            <a href=" {% url 'index'  %}"><button type="submit" class="btn waves-effect waves-light"><i class=" close material-icons right white-text">close</i>Close</button>

</a>

        </div>
    </div>
</div>

{% comment %} {% endif %} {% endcomment %} {% endblock %} {% endif %}
<h1>You are not authorized to view this page.</h1>

{% endif %}