{% load staticfiles %}




<script src="{% static 'ordermanage/js/libs/jquery/jquery-1.7.1.min.js' %}"></script>
<script src="{% static 'ordermanage/js/core/App.js' %}"></script> {#used for hide sidebar #}
<script src="{% static 'ordermanage/js/core/AppNavigation.js' %}"></script> {#used to highlight iconic #}
<script src="{% static 'ordermanage/js/core/AppCard.js' %}"></script> {#used for scroll list details #}
<script src="{% static 'ordermanage/js/core/Demo.js' %}"></script>{#used for hide list details #}
<script src="{% static 'ordermanage/js/core/DemoTableDynamic.js' %}"></script>{#udsed for search, pagination nd no of entries#} {#used to select all checkboxes #}
<script type="text/javascript">
    $(function() {
        $("#checkAll").click(function() {
            $("input[name='selectCheckbox']").attr("checked", this.checked);

            $("input[name='selectCheckbox']").click(function() {
                if ($("input[name='selectCheckbox']").length == $("input[name='selectCheckbox']:checked").length) {
                    $("#checkAll").attr("checked", "checked");
                } else {
                    $("#checkAll").removeAttr("checked");
                }
            });

        });
    });
</script>


{#used to chnage color according to quantity #}
{% comment %} <script>
    //var els = document.getElementsByClassName('TransactionAmount');
    var els = document.getElementsByClassName('status');
    console.log(else)
    for (var i = 0; i < els.length; i++) {
        var cell = els[i];
        if (cell.textContent <= 0) {
            cell.classList.remove('green')
            cell.classList.add('red')
        } else if (cell.textContent < 50) {
            cell.classList.remove('red');
            cell.classList.add('orange');

        } else if (cell.textContent > 50) {
            cell.classList.remove('orange');
            cell.classList.add('green');
        }else if (cell.nodeValue  == 'None'){
            cell.classList.remove('green');
            cell.classList.add('red');
        }

    }
</script> {% endcomment %}
<!---add extra field -->

<!-- <script>
form_count = Number($("[name=extra_field_count]").val());
// get extra form count so we know what index to use for the next item.

$("#add-another").click(function() {
    form_count ++;

    element = $('<input type="text"/>');
    element.attr('name', 'extra_field_' + form_count);
    $("#forms").append(element);
    // build element and append it to our forms container

    $("[name=extra_field_count]").val(form_count);
    // increment form count so our view knows to populate
    // that many fields for validation
})
</script> -->
<script>
        $("#id_company_name").change(function(e){
            //e.parentDefault();
            var companyName = $("#id_company_name").serialize();
            var cmpName =  $(this).val()
            var data = {
                companyName: cmpName
            }
            console.log(data);
            //alert(companyName);
            $.ajax({
                type:"GET",
                url:"{% url 'create' %}",
                data: data,
                success:function(data){
                    console.log(data)
                    //json.dumps(success)

                },
                error:function(response, error){
                    console.log(response)
                    console.log(error)
                   
                }

            })
    
        });
   
        $("#add").click(function(e) {
            var incr = 1;

            $("#item").append(
                '<div class="col s12" style="margin-top:10px; margin-bottom:10px;" id="item1"><table><select name="new_Sku1" style="margin-right:20px; display:block !important;" id="new_Sku1"><option class="new_Sku" name="new_Sku">Select</option>{%for item in queryset_shop %}<option data-incr_value="1" value="{{item.company_sku}}" name="new_Sku">{{item.company_sku}}</option>{% endfor%}</select>' +
                '<input type=text value="1" name="qty">' + '<input type="button" value="delete" id="delete"></table></div> ');
            // console.log("lenght:"+$('#new_Sku1').val());
            // $("#new_Sku1 option[value='"+$('#new_Sku1').val()+"']").remove() 
z
        });

        $('body').on('click', '#delete', function(e) {
            $(this).parent('div').remove()
        });
        $("#new_Sku1").on("change", function() {
            alert("ABC");
            var mval = $('#new_Sku1').val();
            alert(mval);
        });

        // BY ANUJ SIR 
        var hideOptions = function() {
                var $select = $('#new_Sku1');
                //var editid = $(this).attr("new_Sku1");
                // alert($select);
                $select.find('option').show();
                $select.each(function() {
                    var $this = $(this);
                    var value = $this.val();
                    var $options = $this.parents('table').find('select').not(this).find('option');
                    var $option = $options.filter('[value="' + value + '"]');
                    //alert ($option)
                    if (value) {
                        $option.remove();
                        $option.each(function() {
                            if (this.defaultSelected) {
                                $(this).parent('select').val('new_Sku');
                            }
                        });
                    }
                });
            }
            //var all = $(".new_Sku").map(function() {
            //returns this.innerHTML;
            // }).get();
            //$("p").html(all.join());

        //hideOptions();

        $(document).on('change', '#new_Sku1', function() {
            hideOptions();
        });
    
</script>
<!-- <script>
        $(document).ready(function(){
            $("#id_company_name").change(function(e){
                //e.parentDefault();
                var companyName = $("#id_company_name").serialize();
                console.log(companyName);
                alert(companyName);
        
            });
        });
          
        </script> -->
<!-- <script>
    $("#id_company_name").change(function(e){
        e.parentDefault();
        var companyName = $("#id_company_name").serialize();
        console.log(companyName);
        alert(companyName);

    });

  
</script> -->

<script>
    $(document).ready(function () {
        $('.collapsible').collapsible({
            accordion: false
        });
    });

</script>

<script>
    $("#addLineItem").click(function (e) {
        var incr = 1;

        $("#Lineitem").append(
            '<div class="col s12" style="margin-top:10px; margin-bottom:10px;" id="item1"><select name="new_Sku1" style="margin-right:20px; display:block !important;" id="new_Sku1"><option class="new_Sku" name="new_Sku">Select SKU</option>{%for item in ManufactureLineTable %}<option data-incr_value="1" value="{{item.Manufacturer_SKU}}" name="new_Sku">{{ item.Manufacturer_SKU }}</option>{% endfor %}</select>' +
            '<label class="bmd-label-floating">quantity</label><input type=text value="1" name="qty">' + '<label class="bmd-label-floating">Pack Size</label><input type=text value="" name="pack_size">' + '<label class="bmd-label-floating">Max Delivery Date</label><input type=date value="Date("2015 - 03 - 25")" name="calender" >' + '<input type="button" value="delete" id="delete"></div> ');

    });
    $('body').on('click', '#delete', function (e) {
        $(this).parent('div').remove()
    });
</script>

<script>
    //test all
    $("#location").change(function () {
        if ($(this).val() == "loc5") {
            $("#second").show();
        }
        else {
            $("#second").hide();
        }
    });
</script>
<script>
    var empty = true;
    $('input[type="date"]').each(function () {
        if ($(this).val() != "") {
            empty = false;
            console.log("no date time")
            return false;
        }
    });
</script>