{% extends "ordermanage/base.html" %} {% load staticfiles %} {% block title %}Report{% endblock %} {% block body %}
<div>
    <form method="GET" action="" name="shop_form">
        <input type="text" name="shop">
        <input type="submit" name="submit"/>
    </form>
</div>
{% endblock %}