<!--==========================================================================
    Project Name: OrderManage
    Theme Name: Sidebar 
    URL: https://eknous.com
    Author: eKnous Technology Solutions
    License: https://eknous.com/license/
===========================================================================-->
{% load staticfiles %}
<style>
    #main-menu li ul{
    display: none;
    }
    #main-menu li:hover ul{
    display: block;
    }
    #main-menu li{
    padding-top:3px !important;
    padding-bottom:3px !important;
    margin-top:0px !important;
    margin-bottom:0px !important;

    line-height: 17px !important;

    }

    .menubar-scroll-panel {
    }
</style>
<!-- BEGIN MENUBAR-->
<div id="menubar" class="menubar-inverse ">
    <div class="menubar-fixed-panel">
    </div>
    <div class="menubar-scroll-panel">
        <!-- BEGIN MAIN MENU -->
        <ul id="main-menu" class="gui-controls">
            <li class="menu-1">

                <div class="gui-icon"><i class="md-perm-identity"></i></div>
                <h6 class="user"><span class="title">{{ user }}</span ></h6>
            </li>
            <!-- BEGIN DASHBOARD -->
            <li class="menu-1">
                {% comment %} <a href="{% url 'index' %}" class="active"> {% endcomment %}
                <a href="{%url 'shop:product_list' %}">
                <div class="gui-icon"><i class="md md-home" ></i></div>
                <h6><span class="title">Dashboard</span></h6>
                </a>
            </li>
            <!--end /menu-li -->
            <!-- END DASHBOARD -->
        {% if "indianteam" in group1 %}
        <!-- BEGIN ORDER -->
            <li>
                <a class="gui-folder " id="order">
                    <div class="gui-icon"><i class="material-icons" style="padding: 7px; color: #fff;">add_shopping_cart</i></div>
                    <h6><span class="title">Order Manage</span></h6>
                </a>

                <!--start submenu -->
                <div id="hideorder">
                <ul>
                    <li class="gui-folder ">
                        <!-- <a href="{% url 'index' %}"><span>Order Manage Dasboard</span></a> -->
                    </li>
                    <li class="gui-folder md-send">
                        <a href="{% url 'create' %}"><span>Create Order</span>
                        </a>
                    </li>

                </ul>
            </div>
                <!--end /menu-li -->
            </li>
            <li>
                <a class="gui-folder " id='inventory'>
                    <div class="gui-icon"><i class="material-icons" style="padding: 7px; color: #fff;">add_shopping_cart</i></div>
                    <h6><span class="title">Inventry Dashboard </span></h6>
                </a>
                <div id='inventorydropdown'>
                <ul>
                    <li class="gui-folder ">
                        <a href="{% url 'shop:product_list' %}">
                            <span>Inventry Dashboard </span></a>
                    </li>
            
                    <li class="gui-folder ">
                        <a href="{% url 'shop:company_stock' %}">
                            <span>Inventry Quantity </span>
                        </a>
                    </li> 
                    <li class="gui-folder ">
                        <a href="{% url 'shop:company' %}">
                            <span>Company</span>
                        </a>
                    </li>
                    <li class="gui-folder ">
                        <a href="{% url 'courier-method' %}">
                            <span>Courier Method</span>
                        </a>
                    </li>
                </ul>
                </div>
             </li>
             <li>
                    <a class="gui-folder " id='portal'>
                        <div class="gui-icon"><i class="material-icons" style="padding: 7px; color: #fff;">call_merge</i></div>
                        <h6><span class="title">Portal Order</span></h6>
                    </a>
    
                    <!--start submenu -->
                    <div id='hideportal'>
                    <ul>
                        <li class="gui-folder ">
                           
                        </li>
                        <li class="gui-folder ">
                            <a href="{% url 'orderresponse' %}"><span>ShopifyOrder Order</span>
                            </a>
                        </li>
                        
                    </ul>
                </div>
                    <!--end /menu-li -->
                </li>
            <!--ups api url integration-->
            
        {% endif %}
        

            <!--fOR WARE HOUSE dASHBOARD -->
        {% if "superuser" in group1  %}
            <!-- BEGIN ORDER -->
            <li>
                <a class="gui-folder " id='order'>
                    <div class="gui-icon"><i class="material-icons" style="padding: 7px; color: #fff;">add_shopping_cart</i></div>
                    <h6><span class="title">Order Manage</span></h6>
                </a>

                <!--start submenu -->
                <div id="hideorder">
                <ul>
                    <li class="gui-folder ">
                       
                    </li>
                    <li class="gui-folder md-send">
                        <a href="{% url 'create' %}"><span>Create Order</span>
                        </a>
                    </li>
                </ul>
            </div>
                <!--end /menu-li -->
            </li>
       
           
                <li>
                    <a class="gui-folder " id='inventory'>
                        <div class="gui-icon"><i class="material-icons" style="padding: 7px; color: #fff;">layers</i></div>
                        <h6><span class="title">Inventry Dashboard </span></h6>
                    </a>
                    <div id ='inventorydropdown'>
                    <ul>
                        <li class="gui-folder ">
                            <a href="{% url 'shop:product_list' %}">
                                <span>Inventry Dashboard </span></a>
                        </li>
                        
                        <li class="gui-folder ">
                            <a href="{% url 'shop:company_stock' %}">
                                <span>Inventry Quantity </span>
                            </a>
                        </li> 
                        <li class="gui-folder ">
                            <a href="{% url 'shop:company' %}">
                                <span>Company</span>
                            </a>
                        </li>
                        <li class="gui-folder ">
                            <a href="{% url 'courier-method' %}">
                                <span>Courier Method</span>
                            </a>
                        </li>
                        
                        <li class="gui-folder ">
                            <a href="{% url 'shop:create' %}">
                                <span>Create Inventry</span>
                            </a>
                        </li>

                        <li class="gui-folder ">
                                <a href="{% url 'shop:addcompany' %}">
                                    <span>Add Company Sku</span>
                                </a>
                            </li>
                        <li class="gui-folder ">
                            <a href="{% url 'shop:category' %}">
                                <span>Create Category</span>
                            </a>
                        </li>
                    </ul>
                </div>
                </li>
                <!-- BEGIN ORDER -->
            <li>
                    <a class="gui-folder " id='portal'>
                        <div class="gui-icon"><i class="material-icons" style="padding: 7px; color: #fff;">call_merge</i></div>
                        <h6><span class="title">Portal Order</span></h6>
                    </a>
    
                    <!--start submenu -->
                    <div id='hideportal'>
                    <ul>
                        <li class="gui-folder ">
                           
                        </li>
                        
                        
                    </ul>
                </div>
                    <!--end /menu-li -->
                </li>
                <!--ups api url integration-->
                

                {% endif %}

                <!-- If user is WareHouse -->
                {% if "warehouse" in group1 %}
                <!-- BEGIN ORDER -->
               
                    <li>
                        <a class="gui-folder " id ='inventory'>
                            <div class="gui-icon"><i class="material-icons" style="padding: 7px; color: #fff;">layers</i></div>
                            <h6><span class="title">Inventry Dashboard </span></h6>
                        </a>
                        <div id='inventorydropdown'> 
                        <ul>
                            <li class="gui-folder ">
                                <a href="{% url 'shop:product_list' %}">
                                    <span>Inventry Dashboard </span>
                                </a>
                            </li>
                            
                            <li class="gui-folder ">
                                <a href="{% url 'shop:company_stock' %}">
                                    <span>Inventry Quantity </span>
                                </a>
                            </li> 
                            <li class="gui-folder ">
                                <a href="{% url 'shop:company'%}">
                                    <span>Company</span>
                                </a>
                            </li>
                            <li class="gui-folder ">
                                <a href="{% url 'courier-method' %}">
                                    <span>Courier Method</span>
                                </a>
                            </li>
                    
                            <li class="gui-folder ">
                                <a href="{% url 'shop:create' %}">
                                    <span>Create Inventry</span>
                                </a>
                            </li>
                            <li class="gui-folder ">
                                <a href="{% url 'shop:addcompany' %}">
                                    <span>Add Company Sku</span>
                                </a>
                            </li>
                            <li class="gui-folder ">
                                <a href="{% url 'shop:category' %}">
                                    <span>Create Category</span>
                                </a>
                            </li>
                        </ul>
                        </div>
                    </li>
                    <li>
                        <a class="gui-folder " id='portal'>
                            <div class="gui-icon"><i class="material-icons" style="padding: 7px; color: #fff;">call_merge</i></div>
                            <h6><span class="title">Portal Order</span></h6>
                        </a>
        
                        <!--start submenu -->
                        <div id='hideportal'>
                            <ul>
                                <li class="gui-folder ">
                                    <a href="{% url 'shopify_admin:shopifyrequest' %}">
                                        <span>Shopify Generate Token</span>
                                    </a>                   
                                </li>
                                
                                <li class="gui-folder ">
                                    <a href="{% url 'shopify_admin:allproducts' %}">
                                        <span>Retrive Inventory</span>
                                    </a>                   
                                </li>
                            
                            </ul>
                        </div>
                        <!--end /menu-li -->
                    </li>
                
                {% endif %}
                <li>
                    <a class="gui-folder " id='inventory'>
                        <div class="gui-icon"><i class="material-icons" style="padding: 7px; color: #fff;">layers</i></div>
                        <h6><span class="title">Manufacturer </span></h6>
                    </a>
                    <div id='inventorydropdown'>
                        <ul>
                            <li class="gui-folder ">
                                <a href="{% url 'mf_list' %}">
                                    <span>Manufacturer</span>
                                </a>
                            </li>
                            <li class="gui-folder ">
                                <a href="{% url 'add_manufacturer' %}">
                                    <span>Register MF</span>
                                </a>
                            </li>
                            {% if "warehouse" in group1 %}
                            <li class="gui-folder ">
                                <a href="{% url 'create_order'%}">
                                    <span>Create MF Order</span>
                                </a>
                            </li>
                            <li class="gui-folder ">
                                <a href="{% url 'map_manufacturer'%}">
                                    <span>Map MFSKU</span>
                                </a>
                            </li>
                            {% endif %}
    
                        </ul>
                    </div>
                </li>

                
                <li class="menu-1">
                    <a href="{% url 'logout' %}?next={% url 'mvp' %}">
                        <div class="gui-icon"><i class="material-icons" style="padding: 7px; color: #fff;">power_settings_new </i></div>
                        <h6><span class="title">Logout</span ></h6>
                    </a>
                </li>
        </ul><!--end .main-menu -->
          <!-- END MAIN MENU -->
      
      
        </div><!--end .menubar-scroll-panel-->
      </div><!--end #menubar-->
      <!-- END MENUBAR -->
      {% comment %} <script>
          $(document).ready( function(){
              $('#inventory').click(function(){
                  $('#inventorydropdown').toggle();
              });

          }

          );
          $(document).ready(function(){
              $("#order").click(function(){
                  $('#hideorder').toggle();
              });
          });
          $(document).ready(function(){
            $("#portal").click(function(){
                $('#hideportal').toggle();
            });
        });
          

      </script> {% endcomment %}