{% extends "ordermanage/base.html" %} {% load staticfiles %} {% block title %}Dashboard{% endblock %} {% if user.is_authenticated %} {% if user.is_active %} {% block body %} {% if messages %}
<ul class="messages">
    <div id="modal1" class="modal">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></a> {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </div>
</ul>
{% endif %} {% if user.is_authenticated %}



<section class="section-body">
    <div class="row">
        <div class="col m12 s12 ">
            <div class="card ">
                <div class="card-head">
                    <header>Warehouse Orders</header>
                    <!-- <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div> -->
                </div>
                <div class="card-body ">
                    <div class="table-wrap">
                        <div class="table-responsive">

                            <form action="#" method="POST">

                                <input type="submit" class="waves-effect waves-light btn" data-target="modal1" data-toggle="button" aria-pressed="false" autocomplete="off" style="float: right; " value="Update">
                                <!-- <a class="btn-floating btn-large waves-effect waves-light green" type="submit" value="Update"><i class="material-icons">update</i></a> -->
                                <!-- <a class="btn btn-primary" data-toggle="button" aria-pressed="false" style="float: right; margin-bottom: 25px; margin-right:20px;" value="create" href="{% url 'create' %}">Add New <i class="fa fa-plus"></a></i> -->
                                <a class="btn-floating btn-medium waves-effect waves-light red" href="{% url 'create' %}"><i class="material-icons">add</i></a> {% csrf_token %}

                                <table id="data-table-simple" class="responsive-table display" cellspacing="0">

                                    <thead>

                                        <tr>

                                            {% comment %}
                                            <hr>
                                            <th><input type="checkbox" id="checkAll"></th> {% endcomment %}

                                            <th><input type="checkbox" id="checkAll"></th>

                                            <th>PO Number</th>
                                            <th>Name</th>
                                            <th>Courier Method</th>
                                            <th>Directory Name</th>
                                            <th>Status</th>

                                            <th>Create Date</th>
                                            <th>Order Date</th>
                                            {% comment %}
                                            <th>Order Quantity</th> {% endcomment %}
                                            <th>Warehouse Staff Status</th>
                                            <th>ASN Sent</th>
                                            <th>Invoice Send</th>
                                            <th>Pick Up Date</th>
                                            <th>Author</th>
                                            <!-- <th>Flag</th> -->
                                            <th>Button</th>




                                        </tr>
                                    </thead>


                                    {% for order in open%}

                                    <!--PO Number-->
                                    <tr>
                                        <td><input class="checkbox" type="checkbox" name="selectCheckbox" id="{{order.pk}}" value="{{order.pk}}"></td>
                                        <td class="status" value="{{order.flag}}"><a href="{% url 'details' pk=order.pk %}">{{order.po}}</a></td>

                                        <!--Flag -->

                                        <td style=" background-color:{% if 0 in order.flag %}green{% elif 1 in order.flag %}orange {% elif order.flag == 2 %}red{% endif %};">{{order.company_name.company_name}}</td>

                                        <!--Company Name-->

                                        <!-- <td>{{order.company_name}}</td> -->

                                        <!--Courier Method-->

                                        <td>{{order.courier_method}}</td>
                                        <!--product Sku Method-->


                                        <!--Directory_Name-->

                                        <td>{{order.Directory_Name}}</td>

                                        <!--Directory_Name-->
                                        <td class="contentstatus">{{order.status}}</td>

                                        <td>{{order.order_date}}</td>


                                        <td>{{order.order_po_date}}</td>

                                        <!--Status-->
                                        {% comment %}
                                        <td>{{order.order_quantity}}</td> {% endcomment %}

                                        <td class="contentstatus">{{order.warehouse_staff_status}}</td>
                                        <td>{{order.asn_sent}}</td>

                                        <!--Directory_Name-->

                                        <td>{{order.invoice_send}}</td>

                                        <td>{{order.pickup_date}}</td>

                                        <!--Remark-->

                                         <td>{{order.user}}</td>
                                        <!-- <td>{{order.flag}}</td> -->



                                        <!-- <td>{{order.remark}}</td> -->

                                        <!-- <td><a href="{% url 'details' pk=order.pk %}" class="btn ink-reaction btn-floating-action btn-warning"><i class="glyphicon glyphicon-th-list"></i> </a> -->
                                        <td>
                                            <a href="{% url 'edit' pk=order.pk %}" class="btn ink-reaction btn-floating-action btn-warning"><i class="md md-edit"></i> </a>
                                        </td>

                                    </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                                </table>
                                <form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{%else %}
<p>Not authenticate</p>
{% endif %} {% endblock %} {% endif %}
<h1>You are not authorized to view this page.</h1>

{% endif %}